<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=us-ascii" />
  <meta http-equiv="Content-Language" content="en-us" />

  <title>Rahul Banerjee</title>
  <meta http-equiv="imagetoolbar" content="no" />
  <meta name="MSSmartTagsPreventParsing" content="true" />
  <meta name="Copyright" content="Django Software Foundation" />
  <meta name="keywords" content="Rahul Banerjee, IIT Kanpur, University of Washington, Computer Science, PhD" />
  <meta name="description" content=
  "Rahul's home on the Web" />
  <link href="../css/base.css" rel="stylesheet" type= "text/css" media="screen" />
</head>

<body id="documentation" class="default">
  <div id="container">
    <div id="header">
      <h1 id="logo"><a href="http://www.cse.washington.edu/"><img src="../images/rb.png" alt="Rahul Banerjee" /></a></h1>
      <ul id="section-list">
        {% for item in topMenu: %}
            {% if item == currentSection %}
                <li id="section-current"><a>{{ item }}</a></li>
            {% else %}
                <li><a href="{{sectionLinksDict[item]}}">{{ item }}</a></li>
            {% endif %}
        {% endfor %}
      </ul>
    </div><!-- END Header -->

    <div id="billboard">
      <h2>{{currentSection}}&nbsp;::&nbsp;{{currentTitle}}</h2>
    </div><!-- END billboard -->

    <div id="columnwrap">
      <div id="content-related" class="sidebar">
        <h2>{{currentSection}}</h2>
        <ul>
            {% for (title, link) in sideMenu: %}
              {% if title == currentTitle %}
                <li id="content-related-selected"><a>{{ title }}</a></li>
              {% else %}
                <li><a href="{{link}}">{{ title }}</a></li>
              {% endif %}
            {% endfor %}
        </ul>
      </div><!-- END #content-related -->

      <div id="content-main">
          <h1>{{ contentLines[0] }}</h1>
          {{ '\n'.join(contentLines[1:]) }}
          <br><br><br>
          <hr>
          <p>Last Edited: {{contentMTime}} (<a href= "http://www.timeanddate.com/worldclock/city.html?n=438">IST</a>)</p>
          <div id="content-secondary">
            &lt;
            {% if prevPageTitle != none %}
              <a href="{{prevPagePath}}">{{prevPageTitle}}</a>
            {% else %}
              &nbsp;
            {% endif %}
            |
            {% if nextPageTitle != none %}
              <a href="{{nextPagePath}}">{{nextPageTitle}}</a>
            {% else %}
              &nbsp;
            {% endif %}
            &gt;
          </div><!-- END #content-secondary-->
      </div><!-- END #content-main -->
    </div><!-- END #columnwrap -->

    <div id="footer">
      Send comments/feedback to rbanerjee AT siggraph DOT org
    </div><!-- END #footer -->
  </div><!-- END #container -->

  {% if '<pre class="brush: cpp">' in contentLines %}
    <link href="../css/shCore.css" rel="stylesheet" type="text/css"/>
    <link href="../css/shThemeDefault.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../scripts/js/shCore.js"></script>
    <script type="text/javascript" src="../scripts/js/shBrushCpp.js"></script>
    <script type="text/javascript">
       SyntaxHighlighter.all()
    </script>
  {% endif %}

</body>
</html>

